#gridsection-1 .image_holder {
	background-image: url("https://mum-mih.github.io/moodle-template/Icon_calendar.png");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-2 .image_holder {
	background-image: url("https://mum-mih.github.io/moodle-template/Icon_assignments.png");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-3 .image_holder {
	background-image: url("https://mum-mih.github.io/moodle-template/Icon_assignments.png");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-4 .image_holder {
	background-image: url("https://mum-mih.github.io/Honours/Icon_S1-WK1.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-5 .image_holder {
	background-image: url("https://mum-mih.github.io/Honours/Icon_S1-WK3.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-6 .image_holder {
	background-image: url("https://mum-mih.github.io/Honours/Icon_S1-WK9.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-7 .image_holder {
	background-image: url("https://mum-mih.github.io/Honours/Icon_S1-WK10.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-8 .image_holder {
	background-image: url("https://mum-mih.github.io/Honours/Icon_S1-WK12.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-9 .image_holder {
	background-image: url("https://mum-mih.github.io/Honours/Icon_S1-EWK3.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-10 .image_holder {
	background-image: url("https://mum-mih.github.io/Honours/Icon_S2-WK12.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-11 .image_holder {
	background-image: url("https://mum-mih.github.io/Honours/Icon_S2-EWK1.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-12 .image_holder {
	background-image: url("https://mum-mih.github.io/moodle-template/Icon_zoom.png");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-13 .image_holder {
	background-image: url("https://mum-mih.github.io/moodle-template/Icon_Forum.png");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-14 .image_holder {
	background-image: url("https://mum-mih.github.io/moodle-template/Icon_contacts.png");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-15 .image_holder {
	background-image: url("https://mum-mih.github.io/moodle-template/Icon_resources.png");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-16 .image_holder {
	background-image: url("https://mum-mih.github.io/moodle-template/Icon_policy.png");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-17 .image_holder {
	background-image: url("https://mum-mih.github.io/moodle-template/Icon_design.png");
	background-size: contain;
	background-repeat: no-repeat
}
