#gridsection-1 .image_holder {
	background-image: url("https://mum-mih.github.io/MUM-template-2/Icon_calendar.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-2 .image_holder {
	background-image: url("https://mum-mih.github.io/MUM-template-2/Icon_assignments.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-3 .image_holder {
	background-image: url("https://mum-mih.github.io/MUM-template-2/Icon_assignments.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-4 .image_holder {
	background-image: url("https://mum-mih.github.io/Honours/Icon_wk6.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-5 .image_holder {
	background-image: url("https://mum-mih.github.io/Honours/Icon_S1-WK311.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-6 .image_holder {
	background-image: url("https://mum-mih.github.io/Honours/Icon_wk11.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-7 .image_holder {
	background-image: url("https://mum-mih.github.io/Honours/Icon_S1-WK10new.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-8 .image_holder {
	background-image: url("https://mum-mih.github.io/Honours/Icon_S1-EWK.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-9 .image_holder {
	background-image: url("https://mum-mih.github.io/Honours/Icon_S1-EWK.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-10 .image_holder {
	background-image: url("https://mum-mih.github.io/Honours/Icon_S2-WK12new.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-11 .image_holder {
	background-image: url("https://mum-mih.github.io/Honours/Icon_S2-EWK12new.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-12 .image_holder {
	background-image: url("https://mum-mih.github.io/MUM-template-2/Icon_zoom.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-13 .image_holder {
	background-image: url("https://mum-mih.github.io/MUM-template-2/Icon_Forum.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-14 .image_holder {
	background-image: url("https://mum-mih.github.io/MUM-template-2/Icon_contacts.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-15 .image_holder {
	background-image: url("https://mum-mih.github.io/MUM-template-2/Icon_resources.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-16 .image_holder {
	background-image: url("https://mum-mih.github.io/MUM-template-2/Icon_policy.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-17 .image_holder {
	background-image: url("https://mum-mih.github.io/MUM-template-2/Icon_design.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-18 .image_holder {
	background-image: url("https://mum-mih.github.io/MUM-template-2/Icon_recycle.svg");
	background-size: contain;
	background-repeat: no-repeat
}
